* {
    padding: 0;
    margin: 0;
    background-color: ;
}
h1 {
    
    color: #17a2b8;  
}

#principal {
        
    display: flex;
    height: 100%; 
    width: 40%;
    background-color:antiquewhite;
    margin-left: 27em;       
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;   
    border-style:outset;
    border-width: 5px;
    border-color: #17a2b8;   
}

#valor {
    width: 300px;
}

#opcao {
    width: 300px;
}

#valores {
    color:#17a2b8;
    font-size: 30px;    
}